#details {
  display: inline;
  text-align: left;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  z-index: 3;
}

.overlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

#map {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

#leftsidebar {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  left: 0%;
  height: 100%;
  top: 0%;
  width: 20%;
  min-height: 640px;
  z-index: 2;
}

#dropdownWindow {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  left: 25%;
  height: 30%;
  bottom: 0%;
  width: 80%;
  min-height: 100px;
  z-index: 2;
}

#hideSidebar {
  position: absolute;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==');
  height: 20px;
  width: 14px;
  z-index: 2;
  left: 20%;
}
#hideDropdown {
  position: absolute;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAUCAQAAAAXDMSnAAAAi0lEQVR4AX3JQcqBURQG4O/+9WNG30D3vOfSDTuQsgcZyBakZANSzMVMBme3zsBI5/VMn4ZKLP5ki1E4tYejWpilxVUtzOEUD68odYmXR5BJNp/4zllXD2phllYvamHmirsayUkfJ5ruHzueTldC08kcT5YOY9xYujqQM03XKXuaLmEtNF1e1Nz89gbL+0do6OEwRwAAAABJRU5ErkJggg==');
  height: 20px;
  width: 14px;
  z-index: 2;
  left: 50%;
  bottom: 0%;
  transform: rotate(90deg);
}
#reset_map {
  margin: 10px;
}

#housingbutton {
  background: transparent;
  border: none !important;
}
#map-wrapper{
  width: 100%;
   height: 500px;
   position: relative;
   border: 1px solid black;

}
#button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 2;
    align-items: baseline;
}

.text-center {
  display: none !important;
}

.col {
  height: 800px;
}

.input-group-text {
  width: 80px;
}
.form-control {
  height: 40px;
}

#hov {
  position:absolute;
  top: 12%;
  right: 1%;
  height: 5%;
  font-size: 18px;
  font-weight:bolder;
  font-size:larger;
  background-color: lightblue;
  z-index: 2;
}

h1 {
  text-align: center;
  padding: 30px;
}

p {
  text-align: center;
}

.info {
    padding: 3px 4px;
    font: 12px/14px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}

.info h4 {
    margin: 0 0 5px;
    color: #4286f4;
    font: 12px/14px Arial, Helvetica, sans-serif;
}

.input-group{
  height: 40px;
  width: auto;
}

.domain-min{
  margin-right: 65px;
}

.domain_max{
  margin-left: 65px;
}


/* KILLING LEAFLET STUFF, MAY BREAK FUTURE SHIT */

.leaflet-control-layers {
  display: none;
}
/*
div.info.leaflet-control {
  display: none;
}
<<<<<<< HEAD
*/
=======

/*.county-name{
    position: absolute;
    top:2em;
    right:1em;
    z-index:6;
    background:rgba(0,0,0,.75);
    color:white;
    padding:.5em .75em;
    font-size:.85em;
    display:none;
  }*/

>>>>>>> 06eca3178bd492dfe2573b01290d3ecdc34d4924
