#details {
  display: inline;
  text-align: left;
}

#overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: block;
  z-index: 3;
}

.overlayContent {
  position: absolute;
  top: 25%;
  left: 25%;
  color: white;
  /*transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);*/
}

#map {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}

#leftsidebar {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  left: -20%;
  height: 100%;
  top: 0%;
  width: 20%;
  z-index: 2;
  display: none;
  /*transition-property: left;
  transition-duration: 1s;*/
}

#toggleSidebar {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 10px;
  z-index: 2;
  left: 0%;
  /*transition-property: left display transform;
  transition-duration: 1s;*/
}

.arrow-left {
  position: absolute;
  width: 0; 
  height: 0;
  top: 50%;
  transform: rotate(180deg);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  
  border-right: 10px solid black; 
}

#dropdownWindow {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  left: 10px;
  height: 25%;
  bottom: -25%;
  width: calc(100% - 10px);
  min-height: 100px;
  z-index: 2;
  /*transition-property: bottom left width;
  transition-duration: 1s;*/
}

#toggleDropdown {
  position: absolute;
  background-color: rgba(0,0,0,0.5);
  left: 10px;
  height: 10px;
  width: calc(100% - 10px);
  z-index: 2;
  bottom: 0%;
  /*transition-property: bottom width left transform display;
  transition-duration: 1s;*/
}

.arrow-top {
  position: absolute;
  width: 0; 
  height: 0;
  left: 50%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-bottom: 10px solid black; 
}

#reset_map {
  margin: 10px;
}

#housingbutton {
  background: transparent;
  border: none !important;
}
#map-wrapper{
  width: 100%;
   height: 500px;
   position: relative;
   border: 1px solid black;

}
#button-wrapper {
    position: absolute;
    bottom: 10px;
    width: 100%;
    z-index: 2;
    align-items: baseline;
}

.text-center {
  display: none !important;
}

#countyOverlay {
  position: absolute;
  display: block;
  padding:5px;
  border-radius: 25px;
  top: 12%;
  right: 1%;
  font-size: 18px;
  font-weight: bolder;
  font-size: larger;
  background-color: lightblue;
  z-index: 2;
}

h1 {
  text-align: center;
  padding: 30px;
}

p {
  text-align: center;
}

.info {
  padding: 3px 4px;
  font: 12px/14px Arial, Helvetica, sans-serif;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #4286f4;
  font: 12px/14px Arial, Helvetica, sans-serif;
}

.input-group {
  height: 40px;
  width: auto;
}

.domain-min {
  margin-right: 65px;
}

.domain_max {
  margin-left: 65px;
}


/* KILLING LEAFLET STUFF, MAY BREAK FUTURE SHIT */

.leaflet-control-layers {
  display: none;
}
/*
div.info.leaflet-control {
  display: none;
}
<<<<<<< HEAD
*/
=======

/*
.county-name{
  position: absolute;
  top:2em;
  right:1em;
  z-index:6;
  background:rgba(0,0,0,.75);
  color:white;
  padding:.5em .75em;
  font-size:.85em;
  display:none;
}
*/

>>>>>>> 06eca3178bd492dfe2573b01290d3ecdc34d4924
